.container {
	padding-left: 17rem;
	margin-top: 2rem;
	width: 80%;
}

.new-post-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 1rem;
}

.new-post-text {
	display: flex;
	justify-content: flex-start;
	gap: 1rem;
}

.add-location {
	margin-left: 3.5rem;
	width: 100%;
}

.searchbar {
	border-left: 1px solid lightgray;
	position: absolute;
	top: 0;
	right: 1rem;
	height: 100vh;
	padding: 1rem;
}

.button {
	text-transform: capitalize;
	width: fit-content;
	font-size: 15px;
	border-radius: 23px;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}
